// Colour swatches

.colour-swatch {
  @extend .aphrodite;
  text-align: center;

  b {
    background-color: transparent;
    content: ' ';
    display: inline-block;
    height: 50px;
    width: 50px;
    @include border-radius(100%);
  }

  .colour-name {
    display: block;
    margin-top: 8px;
  }

  .colour-hex {
    @extend .nike;
    border: none;
    color: $grey-4;
    margin-bottom: 16px;
    outline: none;
    text-align: center;
  }

  // Programatically churns out classes to use for each UI colour
  $base-colors: (
    grey:   $grey-1 $grey-2 $grey-3 $grey-4 $grey-5,
    blue:   $blue-1 $blue-2 $blue-3 $blue-4 $blue-5,
    green:  $green-1 $green-2 $green-3 $green-4 $green-5,
    yellow: $yellow-1 $yellow-2 $yellow-3 $yellow-4 $yellow-5,
    red:    $red-1 $red-2 $red-3 $red-4 $red-5,
    brown:  $brown-1 $brown-2 $brown-3 $brown-4 $brown-5,
    purple: $purple-1 $purple-2 $purple-3 $purple-4 $purple-5,
    silver: $silver-1 $silver-2 $silver-3 $silver-4 $silver-5,
    gold:   $gold-1 $gold-2 $gold-3 $gold-4 $gold-5
  );
  @for $i from 1 through 5 {
    @each $colour, $tints in $base-colors {
      @if ($i <= length($tints)) {
        &.colour-#{$colour}-#{$i} b {
          background-color: nth($tints, $i);
        }
      }
    }
  }

  // Primary brand colours
  &.colour-brand-red b    { background-color: $brand-red; }
  &.colour-brand-blue b   { background-color: $brand-blue; }
  &.colour-brand-green b  { background-color: $brand-green; }
  &.colour-brand-purple b { background-color: $brand-purple; }

  // Social
  &.colour-facebook b  { background-color: $social-facebook; }
  &.colour-twitter b   { background-color: $social-twitter; }
  &.colour-google b    { background-color: $social-google; }
  &.colour-pinterest b { background-color: $social-pinterest; }
  &.colour-instagram b { background-color: $social-instagram; }
  &.colour-youtube b   { background-color: $social-youtube; }
  &.colour-linkedin b  { background-color: $social-linkedin; }
  &.colour-vimeo b     { background-color: $social-vimeo; }
  &.colour-weibo b     { background-color: $social-weibo; }
  &.colour-vk b        { background-color: $social-vk; }
}
